<div class="flex min-w-screen min-h-screen h-screen">

    <div class="flex flex-col w-3/12 h-screen border-r-2   px-10 py-7">
        <img src="logo-name.svg" alt="" width="350" class="px-5 mt-4">

        <div class="flex-1 overflow-y-auto mt-20">
            <div class="principal flex flex-col gap-2 w-full">
                <h5 class="text-xl font-medium text-stone-600 px-5">Principal</h5>

                <a href=""
                    class="flex gap-3 items-center w-full rounded-md hover:bg-blue-100 hover:cursor-pointer px-5 py-2 hover:text-primary-100"
                    [routerLink]="['/dashboard']" 
                    routerLinkActive="bg-blue-200 text-primary-200"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <img src="dash-icon.svg" alt="" width="30">
                    <p class="text-xl relative">Dashboard</p>
                </a>
                <a href=""
                    class="flex gap-3 items-center w-full rounded-md hover:bg-blue-100 hover:cursor-pointer px-5 py-2 hover:text-primary-100"
                    [routerLink]="['./tasks']" 
                    routerLinkActive="bg-blue-200 text-primary-200"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <img src="tareas-icon.svg" alt="" width="30">
                    <p class="text-xl relative">Tareas</p>
                </a>
                <a href=""
                    class="flex gap-3 items-center w-full rounded-md hover:bg-blue-100 hover:cursor-pointer px-5 py-2 hover:text-primary-100"
                    [routerLink]="['./stats']" 
                    routerLinkActive="bg-blue-200 text-primary-200"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <img src="stats.svg" alt="" width="30">
                    <p class="text-xl relative">Estadísticas</p>
                </a>
            </div>

        </div>


        <div class="border-t-2 pt-5">
            <a href=""
                class="flex gap-3 items-center w-full rounded-md hover:bg-stone-300 hover:cursor-pointer px-5 py-2 hover:text-primary-100">
                <img src="config-icon.svg" alt="" width="30">
                <p class="text-xl relative text-stone-600">Configuracion</p>
            </a>
            <a href=""
                class="flex gap-3 items-center w-full rounded-md hover:bg-stone-300 hover:cursor-pointer px-5 py-2 hover:text-primary-100">
                <img src="perfil-icon.svg" alt="" width="30">
                <p class="text-xl relative text-stone-600">Perfil</p>
            </a>
            <button
                class="flex gap-3 items-center w-full rounded-md hover:bg-red-100 hover:cursor-pointer px-5 py-2 " (click)="logout()">
                <img src="logout.svg" alt="" width="30">
                <p class="text-xl relative text-red-500">Cerrar sesión</p>
            </button>
        </div>
    </div>

    <div class="flex-1 h-full overflow-y-auto pt-10 w-9/10">
        <div class="flex items-center h-header border-b-2 px-10 pb-10 shadow-lg ">
            <div class="flex-1 flex justify-end items-center gap-5">
                <p class="text-xl font-regular">Bienvenido, {{this.user.name}}!</p>

                <div class="bg-primary-100 rounded-full w-[50px] h-[50px] flex justify-center items-center">
                    <p class="text-3xl font-medium text-white">{{this.user.name.substr(0,1)}}</p>
                </div>
            </div>
        </div>


        <div class="h-content w-full bg-gradient-to-tr from-primary-100 to-primary-200 flex flex-col justify-center items-center">
            <div class="w-full h-full">

                
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>
</div>

