<div class="w-full h-full flex flex-col justify-center items-center p-20 gap-5">
    <div class="w-full h-1/2 flex justify-center items-center gap-5">


        <div class="bg-white relative shadow-md rounded-lg p-10 flex text-wrap flex-col w-2/3 h-full ">
            <h1 class="text-2xl font-bold">{{this.tareas_recomendadas[0].titulo.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[0].titulo.slice(1)}}</h1>
            <p class="text-xl font-medium text-stone-600 break-words">
                {{this.tareas_recomendadas[0].descripcion.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[0].descripcion.slice(1)}}
            </p>

            <!-- poner abajo a la derecha -->
            <div class="flex justify-center items-center gap-5 absolute bottom-10 right-10">
                <div *ngFor="let item of tareas_recomendadas[0].categoria">
                    <p [ngStyle]="{color: item.color}" class="text-xl font-medium">{{item.name.charAt(0).toUpperCase() +
                            item.name.slice(1)}}</p>

                </div>
            </div>
        </div>


        <div class="bg-white shadow-md rounded-lg p-10 relative overflow-hidden flex text-wrap flex-col w-1/3 h-full">
            <h1 class="text-2xl font-bold">{{this.tareas_recomendadas[1].titulo.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[1].titulo.slice(1)}}</h1>
            <p class="text-xl font-medium text-stone-600 break-words">
                {{this.tareas_recomendadas[1].descripcion.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[1].descripcion.slice(1)}}
            </p>

            <!-- poner abajo a la derecha -->
            <div class="flex justify-center items-center gap-5 absolute bottom-10 right-10">
                <div *ngFor="let item of tareas_recomendadas[1].categoria">
                    <p [ngStyle]="{color: item.color}" class="text-xl font-medium">{{item.name.charAt(0).toUpperCase() +
                            item.name.slice(1)}}</p>

                </div>
            </div>
        </div>

    </div>

    <div class="w-full h-1/2 flex justify-center items-center gap-6 overflow-hidden">

        <div class="bg-white shadow-md rounded-lg p-10 relative flex text-wrap flex-col w-1/3 h-full">
            <h1 class="text-2xl font-bold">{{this.tareas_recomendadas[2].titulo.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[2].titulo.slice(1)}}</h1>
            <p class="text-xl font-medium text-stone-600 break-words">
                {{this.tareas_recomendadas[2].descripcion.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[2].descripcion.slice(1)}}
            </p>

            <!-- poner abajo a la derecha -->
            <div class="flex justify-center items-center gap-5 absolute bottom-10 right-10">
                <div *ngFor="let item of tareas_recomendadas[2].categoria">
                    <p [ngStyle]="{color: item.color}" class="text-xl font-medium">{{item.name.charAt(0).toUpperCase() +
                            item.name.slice(1)}}</p>

                </div>
            </div>

        </div>
        <div class="bg-white shadow-md rounded-lg p-10 relative flex text-wrap flex-col w-2/3 h-full">
            <h1 class="text-2xl font-bold">{{this.tareas_recomendadas[3].titulo.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[3].titulo.slice(1)}}</h1>
            <p class="text-xl font-medium text-stone-600 break-words">
                {{this.tareas_recomendadas[3].descripcion.charAt(0).toUpperCase() +
                            this.tareas_recomendadas[3].descripcion.slice(1)}}
            </p>

            <!-- poner abajo a la derecha -->
            <div class="flex justify-center items-center gap-5 absolute bottom-10 right-10">
                <div *ngFor="let item of tareas_recomendadas[3].categoria">
                    <p [ngStyle]="{color: item.color}" class="text-xl font-medium">{{item.name.charAt(0).toUpperCase() +
                            item.name.slice(1)}}</p>

                </div>
            </div>
        </div>
    </div>
</div>