<div class="flex flex-col">
  <div class="border-b-2 py-3 flex justify-center fixed top-0 left-0 right-0 z-10 bg-white">
    <div class="w-full max-w-7xl flex justify-between items-center px-4 sm:px-6 lg:px-8">

      <button class="md:hidden" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12" />
          <line x1="3" y1="6" x2="21" y2="6" />
          <line x1="3" y1="18" x2="21" y2="18" />
        </svg>
      </button>

      <div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-70 flex">
        <div class="bg-white p-6 text-black w-4/5 max-w-xs relative">
          <button class="absolute top-4 right-4" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="18" y1="6" x2="6" y2="18" />
              <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
          </button>
          <nav class="flex flex-col space-y-4 text-start mt-10">
            <a href="#carac" class="text-lg" (click)="toggleMenu()">Características</a>
            <a href="#prod" class="text-lg" (click)="toggleMenu()">Estadísticas</a>
            <a href="#opin" class="text-lg" (click)="toggleMenu()">Opiniones</a>
          </nav>
        </div>
      </div>

      <div class="hidden md:flex flex-shrink-0">
        <img src="logo-header.svg" alt="Logo" class="w-32 sm:w-40 lg:w-56">
      </div>

      <div class="absolute left-1/2 transform -translate-x-1/2 hidden md:flex justify-center items-center text-gray-600 font-regular gap-6">
        <a href="#carac" class="text-lg sm:text-xl hover:text-stone-950">Características</a>
        <a href="#prod" class="text-lg sm:text-xl hover:text-stone-950">Estadísticas</a>
        <a href="#opin" class="text-lg sm:text-xl hover:text-stone-950">Opiniones</a>
      </div>

      <div class="flex justify-between items-center text-gray-600 font-regular gap-4 sm:gap-6">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="text-base sm:text-xl hover:text-stone-950">
          Iniciar Sesión
        </a>
        <button [routerLink]="['/register']" routerLinkActive="router-link-active"
                class="text-base sm:text-xl bg-blue-500 text-white py-1 px-3 rounded-lg hover:bg-blue-600">
          Regístrate
        </button>
      </div>

    </div>
  </div>


  <div class="mt-16 sm:mt-20 bg-origin-content bg-cover bg-left-top bg-fixed"
       style="background-image: url(hero-back.svg);">
    <div class="py-32 sm:py-48 lg:py-64 flex justify-center h-full">
      <div class="w-full max-w-7xl flex flex-col sm:flex-row justify-between gap-5 items-end px-4 sm:px-6 lg:px-8">

        <div class="flex-shrink-0 flex flex-col gap-6 w-full sm:w-3/4">
          <h2 class="text-3xl sm:text-5xl lg:text-7xl font-medium text-white leading-tight">
            Organiza tus tareas
          </h2>
          <h3 class="text-3xl sm:text-5xl lg:text-7xl font-medium text-gray-200 leading-tight">
            Aumenta tu productividad
          </h3>
          <p class="text-lg sm:text-2xl font-regular text-gray-300">
            La plataforma definitiva para gestionar tus tareas personales y profesionales con recordatorios automáticos
            y estadísticas en tiempo real.
          </p>

          <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 mt-4">
            <button class="bg-blue-500 text-white text-base sm:text-xl py-1 px-3 rounded-lg hover:bg-blue-600 flex items-center hover:shadow-md">
              <p>Comenzar gratis</p>
            </button>
            <button class="text-white py-1 bg-stone-900/50 border-white text-base sm:text-xl px-3 rounded-lg border-2 flex items-center hover:shadow-md hover:bg-stone-900/90">
              <p>Ver demostración</p>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="bg-back-gray w-full flex justify-center py-10" id="carac">
    <div class="w-full flex flex-col items-center max-w-7xl px-4 sm:px-6 lg:px-8 gap-7 mb-10">
      <h3 class="text-3xl sm:text-4xl lg:text-5xl font-medium mt-10">Características Principales</h3>
      <p class="text-lg sm:text-2xl font-regular text-light-font">
        Todo lo que necesitas para gestionar tus tareas de manera eficiente
      </p>

      <div class="flex flex-col gap-6 w-full mt-10">

        <div class="flex flex-col md:flex-row gap-4 w-full">
          <div class="flex flex-col gap-4 border-2 border-stone-400 rounded-lg py-5 px-5 bg-white shadow-md hover:shadow-primary-100 w-full md:w-1/3">
            <img src="gestion.svg" alt="Gestión de Tareas" class="w-10 h-10">
            <h5 class="text-xl font-medium text-stone-950">Gestión de Tareas</h5>
            <p class="text-light-font font-regular">
              Crea, edita, elimina y completa tareas con facilidad. Organiza tu trabajo de manera intuitiva.
            </p>
          </div>
          <div class="flex flex-col gap-4 border-2 border-stone-400 bg-white rounded-lg py-5 px-5 shadow-md hover:shadow-primary-100 w-full md:w-1/3">
            <img src="clas.svg" alt="Clasificación por Categorías" class="w-10 h-10">
            <h5 class="text-xl font-medium text-stone-950">Clasificación por Categorías</h5>
            <p class="text-light-font font-regular">
              Clasifica tus tareas por etiquetas como Trabajo, Personal, Urgente y más para una mejor organización.
            </p>
          </div>
          <div class="flex flex-col gap-4 border-2 border-stone-400 bg-white rounded-lg py-5 px-5 shadow-md hover:shadow-primary-100 w-full md:w-1/3">
            <img src="record.svg" alt="Recordatorios Automáticos" class="w-10 h-10">
            <h5 class="text-xl font-medium text-stone-950">Recordatorios Automáticos</h5>
            <p class="text-light-font font-regular">
              Recibe recordatorios por correo cuando una tarea esté próxima a vencer para nunca perder una fecha límite.
            </p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6 w-full mt-10">
          <div class="flex flex-col gap-4 border-2 border-stone-400 rounded-lg py-5 px-5 bg-white shadow-md hover:shadow-primary-100 w-full md:w-1/3">
            <img src="dash.svg" alt="Dashboard con Estadísticas" class="w-10 h-10">
            <h5 class="text-xl font-medium text-stone-950">Dashboard con Estadísticas</h5>
            <p class="text-light-font font-regular">
              Visualiza estadísticas de tareas completadas, pendientes y urgentes para mejorar tu productividad.
            </p>
          </div>
          <div class="flex flex-col gap-4 border-2 border-stone-400 bg-white rounded-lg py-5 px-5 shadow-md hover:shadow-primary-100 w-full md:w-1/3">
            <img src="auth.svg" alt="Autenticación Segura" class="w-10 h-10">
            <h5 class="text-xl font-medium text-stone-950">Autenticación Segura</h5>
            <p class="text-light-font font-regular">
              Registro e inicio de sesión con autenticación JWT para mantener tus datos seguros.
            </p>
          </div>
          <div class="flex flex-col gap-4 border-2 border-stone-400 bg-white rounded-lg py-5 px-5 shadow-md hover:shadow-primary-100 w-full md:w-1/3">
            <img src="responsive.svg" alt="Diseño Responsive" class="w-10 h-10">
            <h5 class="text-xl font-medium text-stone-950">Diseño Responsive</h5>
            <p class="text-light-font font-regular">
              Accede a tu gestor de tareas desde cualquier dispositivo con nuestro diseño adaptable.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="w-full flex justify-center py-10" id="prod">
    <div class="w-full flex flex-col items-center max-w-7xl px-4 sm:px-6 lg:px-8 gap-7">
      <h3 class="text-3xl sm:text-4xl lg:text-5xl font-medium mt-20">Mejora tu productividad</h3>
      <p class="text-lg sm:text-2xl font-regular text-light-font">
        Visualiza tus avances y mantén el control de tus tareas
      </p>

      <div class="flex flex-col gap-6 w-full">

        <div class="flex flex-col md:flex-row gap-4 w-full mt-10">
          <div class="flex flex-col items-center gap-4 border-2 border-stone-400 rounded-lg py-5 px-5 bg-white shadow-md hover:shadow-primary-100 w-full md:w-2/6">
            <img src="tick.svg" alt="85% completadas">
            <h5 class="text-2xl sm:text-3xl font-medium text-stone-950">85%</h5>
            <p class="text-base sm:text-xl text-light-font font-regular">Completadas a tiempo</p>
          </div>
          <div class="flex flex-col items-center gap-4 border-2 border-stone-400 bg-white rounded-lg py-5 px-5 shadow-md hover:shadow-primary-100 w-full md:w-3/6">
            <img src="reduc.svg" alt="30% reducción">
            <h5 class="text-2xl sm:text-3xl font-medium text-stone-950">30%</h5>
            <p class="text-base sm:text-xl text-light-font font-regular">Reducción en tiempo de gestión</p>
          </div>
          <div class="flex flex-col items-center gap-4 border-2 border-stone-400 bg-white rounded-lg py-5 px-5 shadow-md hover:shadow-primary-100 w-full md:w-2/6">
            <img src="tareas.svg" alt="95% menos olvidos">
            <h5 class="text-2xl sm:text-3xl font-medium text-stone-950">95%</h5>
            <p class="text-base sm:text-xl text-light-font font-regular">Menos tareas olvidadas</p>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-center gap-6 border-2 border-stone-400 bg-white rounded-lg py-10 px-6 sm:px-10 w-full shadow-md hover:shadow-primary-100">
          <div class="flex flex-col w-full lg:w-2/3 gap-4">
            <h5 class="text-2xl sm:text-3xl lg:text-3xl font-medium text-stone-950">
              Dashboard con estadísticas en tiempo real
            </h5>
            <p class="text-base sm:text-xl text-light-font font-regular">
              Visualiza el estado de tus tareas con nuestro dashboard intuitivo. Obtén información sobre tareas completadas,
              pendientes y urgentes para mejorar tu productividad.
            </p>
            <div class="mt-4 flex flex-col gap-3">
              <div class="flex gap-4 items-center">
                <img src="tick.svg" alt="" class="w-8 h-8">
                <p class="text-base sm:text-xl font-regular text-stone-950">Distribución de tareas por categorías</p>
              </div>
              <div class="flex gap-4 items-center">
                <img src="tick.svg" alt="" class="w-8 h-8">
                <p class="text-base sm:text-xl font-regular text-stone-950">Análisis de productividad</p>
              </div>
              <div class="flex gap-4 items-center">
                <img src="tick.svg" alt="" class="w-8 h-8">
                <p class="text-base sm:text-xl font-regular text-stone-950">Gráficos de progreso diario y semanal</p>
              </div>
            </div>
          </div>

          <div class="mt-6 lg:mt-0 flex justify-center">
            <svg width="200" height="200" viewBox="0 0 250 251" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M38.8125 235.065H249.75V219.44H46.625V16.3149H31V227.252L38.8125 235.065ZM62.25 196.002V71.0024L70.0625 63.1899H101.312L109.125 71.0024V196.002L101.312 203.815H70.0625L62.25 196.002ZM93.5 188.19V78.8149H77.875V188.19H93.5ZM187.25 39.7524V196.002L195.062 203.815H226.312L234.125 196.002V39.7524L226.312 31.9399H195.062L187.25 39.7524ZM218.5 47.5649V188.19H202.875V47.5649H218.5ZM124.75 196.002V102.252L132.562 94.4399H163.812L171.625 102.252V196.002L163.812 203.815H132.562L124.75 196.002ZM156 188.19V110.065H140.375V188.19H156Z"
                    fill="#262626" />
            </svg>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="bg-back-gray w-full my-20 flex justify-center py-10" id="opin">
    <div class="w-full flex flex-col items-center max-w-7xl px-4 sm:px-6 lg:px-8 gap-7">
      <h3 class="text-3xl sm:text-4xl lg:text-5xl font-medium">Lo que dicen nuestros usuarios</h3>
      <p class="text-lg sm:text-2xl font-regular text-light-font">
        Descubre cómo TaskFlow Automate ha ayudado a mejorar la productividad
      </p>

      <div class="flex flex-col md:flex-row gap-6 mt-10 w-full">
        <div class="bg-white rounded-lg shadow-md hover:shadow-primary-100 flex flex-col gap-4 py-8 px-6 w-full md:w-1/2">
          <div class="flex w-full items-center gap-4">
            <img src="op1.png" alt="Jennifer Smith" class="w-20 h-20">
            <div class="flex flex-col w-full">
              <h5 class="text-xl sm:text-2xl font-medium text-stone-950">Jennifer Smith</h5>
              <p class="text-base sm:text-lg text-light-font">Gerente de proyectos</p>
            </div>
          </div>
          <img src="stars.svg" alt="5 estrellas" class="w-32 sm:w-36">
          <p class="text-base sm:text-xl text-light-font font-regular">
            TaskFlow Automate ha transformado la manera en que gestionamos nuestros proyectos. Los recordatorios
            automáticos y el dashboard con estadísticas nos han ayudado a mejorar nuestra productividad en
            un 40%.
          </p>
        </div>
        <div class="bg-white rounded-lg shadow-md hover:shadow-primary-100 flex flex-col gap-4 py-8 px-6 w-full md:w-1/2">
          <div class="flex w-full items-center gap-4">
            <img src="op2.png" alt="Elisabeth Thompson" class="w-20 h-20">
            <div class="flex flex-col w-full">
              <h5 class="text-xl sm:text-2xl font-medium text-stone-950">Elisabeth Thompson</h5>
              <p class="text-base sm:text-lg text-light-font">Estudiante</p>
            </div>
          </div>
          <img src="stars.svg" alt="5 estrellas" class="w-32 sm:w-36">
          <p class="text-base sm:text-xl text-light-font font-regular">
            Uso TaskFlow para organizar mis estudios y trabajos universitarios. La interfaz es intuitiva y me
            encanta poder ver estadísticas de mi progreso. ¡Ya no olvido entregar ninguna tarea!
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="hidden md:flex justify-center w-full mt-5">
    <div class="w-full flex flex-col items-center max-w-7xl px-4 sm:px-6 lg:px-8 gap-7">
      <div class="w-full h-full rounded-lg bg-cover flex flex-col items-center py-10 gap-10 px-6 sm:px-24"
           style="background-image: url(back.png);">
        <h3 class="text-3xl sm:text-4xl lg:text-5xl font-medium mt-20 text-center text-gray-200">
          Comienza a gestionar tus tareas hoy mismo
        </h3>
        <p class="text-base sm:text-lg lg:text-2xl font-regular text-white text-center">
          Únete a miles de usuarios que ya han mejorado su productividad con TaskFlow Automate. Regístrate gratis y
          comienza a organizar tus tareas de manera eficiente.
        </p>

        <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 justify-center mt-4">
          <button class="bg-white text-base sm:text-xl py-1 px-3 rounded-lg hover:bg-gray-200 flex items-center hover:shadow-md">
            <p>Registrarse gratis</p>
          </button>
          <button class="text-white py-1 text-base sm:text-xl px-3 rounded-lg border-2 border-white flex items-center hover:shadow-md hover:bg-stone-950/70">
            <p>Conocer más</p>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-back-gray w-full mt-20 flex justify-center pt-10">
    <div class="w-full flex flex-col max-w-7xl px-4 sm:px-6 lg:px-8 gap-10">

      <div class="flex flex-col lg:flex-row items-start gap-10">
        <div class="w-full lg:w-2/5 flex flex-col gap-3">
          <img src="foot.svg" alt="Logo Footer" class="w-48 sm:w-60 lg:w-72">
          <p class="text-base sm:text-lg text-stone-600">
            Aplicación web diseñada para la gestión eficiente de tareas y proyectos personales o laborales.
          </p>
        </div>

        <div class="w-full flex flex-col sm:flex-row gap-10">
          <div class="w-full sm:w-1/3 flex flex-col gap-3">
            <p class="text-xl">Producto</p>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Características</a>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Precios</a>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Guía</a>
          </div>
          <div class="w-full sm:w-1/3 flex flex-col gap-3">
            <p class="text-xl">Compañía</p>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Acerca de</a>
            <a href="mailto:pgongar975@g.educaand.es" class="text-base sm:text-lg text-light-font hover:text-primary-100">Contacto</a>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Autor</a>
          </div>
          <div class="w-full sm:w-1/3 flex flex-col gap-3">
            <p class="text-xl">Legal</p>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Términos</a>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Privacidad</a>
            <a href="#" class="text-base sm:text-lg text-light-font hover:text-primary-100">Cookies</a>
          </div>
        </div>
      </div>

      <div class="border-t-2 border-stone-400 flex justify-center pt-5 pb-5">
        <p class="text-base sm:text-lg">© 2025 TaskFlow Automate. Todos los derechos reservados.</p>
      </div>

    </div>
  </div>

</div>
